<header class="background-cream flex justify-between items-center px-6 py-4 w-screen fixed top-0 left-0 z-50 drop-shadow-sm">
    <div>
        <a href="{{ path('app_home') }}" class="-m-1.5 p-1.5 flex items-center gap-2">
            <img src="{{ asset('img/logo.png') }}" alt="Logo" class="w-35">
        </a>
    </div>
    <nav class="flex items-center gap-6 text-[#0C325C] font-medium">
        <a href="{{ path('app_home') }}" class="hover:text-[#C59A3A] transition">Accueil</a>
        <a href="#" class="hover:text-[#C59A3A] transition">Spectacles</a>
        <a href="#" class="hover:text-[#C59A3A] transition">Concert</a>
        <a href="{{ path('app_event_index') }}" class="hover:text-[#C59A3A] transition">Autre évènements</a>
        {% if app.user %}
            {% dump(app.user) %}
            <a href="{{ path('app_user_index')}}">
                    {% include 'icons/user-full.svg' %}
            </a>
        {% else %}
            <a href="{{ path('app_login') }}" class="text-[#0C325C] hover:underline">Connexion</a>
            <a href="{{ path('app_register') }}" class="bg-[#0C325C] text-white px-4 py-2 rounded-lg hover:bg-[#134072] transition">Inscription</a>
        {% endif %}
    </nav>
</header>
